* {
    margin : 0;
    padding : 0;
}
input,textarea
{
	    margin : 3;
    padding : 3;
}
.github
{
	position: fixed;
	  right: 0;
	top: 50%;
	width: 8em;
	margin-top: 0%; 
	top: 0; 
	right: 0; 
	border: 0;
	height: 200px;
	width: 200px;
}